EllagetAvailability.json
{
  "name": "EllagetAvailability",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6d083ed8-22b1-4119-b30c-9afa3f50fe2e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "583804bb-b1aa-4523-9188-e73df1dc7c58",
      "name": "Webhook",
      "webhookId": "6d083ed8-22b1-4119-b30c-9afa3f50fe2e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "9b022d73-bd59-4011-bcfe-b3ff10c5d50a",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Current Date and Time:\n{{ $json.currentDate }}\n\nCalendar Availability Data:\nRequested Date: {{ $('Webhook').item.json.body.date }}\nRequested Time: {{ $('Webhook').item.json.body.time }}\nWorking Hours: 12:00 PM - 8:00 PM\nBuffer Time: 15 minutes\nDuration of Each Slot: 30 minutes\nFriday ONLY when checking availability for bookings\n\nProcessing Steps:\nCheck if the requested time is available for the requested date.\nIf available, confirm the booking and inform the AI.\nIf unavailable due to a conflict:\n  - Suggest up to 3 closest available slots while ensuring buffer time.\n  - If no slots are available on that day, find the next available weekday and provide alternative slots.\n\nOutput Requirements:\n✅ If the requested time is available, confirm it:\nExample: \"The requested time of 2:00 PM on April 17, 2025, is available. Would you like to proceed with this booking?\"\n\n✅ ONLY if unavailable, suggest up to 3 alternative slots.\n\n✅ If no slots exist, suggest the next open weekday.\n\nYour output should not sound robotic (example: We have availability on (insert date))\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        0
      ],
      "id": "e74b7373-d37b-4c8c-8b67-efa2ac9375db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        220
      ],
      "id": "6634c99e-e8b5-4ca0-b81c-033926cd61df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "w9Dpue418YO6N0j7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "figsaiautomation@gmail.com",
          "mode": "list",
          "cachedResultName": "figsaiautomation@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        600,
        220
      ],
      "id": "a2060063-de6b-4568-b0cf-a321d0df7c76",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "auiveumlt6NmPYlS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "figsaiautomation@gmail.com",
          "mode": "list",
          "cachedResultName": "figsaiautomation@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "EST",
            "mode": "list",
            "cachedResultName": "EST"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        800,
        220
      ],
      "id": "64068925-1d82-4249-8233-64f6c82d2471",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "auiveumlt6NmPYlS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "id": "5e6a6f2e-15d0-4571-b4c1-a9c2ac704ff5",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kmcneil.app.n8n.cloud",
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "39",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.67.146.145",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "94e5e60d508ce14b-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.67.146.145, 172.70.127.190",
            "x-forwarded-host": "kmcneil.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-5k6rh",
            "x-is-trusted": "yes",
            "x-real-ip": "34.67.146.145"
          },
          "params": {},
          "query": {},
          "body": {
            "date": "2025-06-13",
            "time": "13:00"
          },
          "webhookUrl": "https://kmcneil.app.n8n.cloud/webhook/6d083ed8-22b1-4119-b30c-9afa3f50fe2e",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "622f0dfc-a7ee-4f72-875e-556b4e007acb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "001fa8e53cd85d998324a5057f502011382873a507426b660d754b2f2e07f78c"
  },
  "id": "RpN4GUwoTHMsADTH",
  "tags": []
}